body {
  margin: 0;
}

#root, html {
  background-color: black;
  color: white;
}


#clock {
  max-width: 20rem;
  margin: 10rem auto 10rem auto;
  text-align: center;
  box-shadow: -1px -4px 100px 0px #3f3a66;
  padding: 1rem;
  border: 3px solid #3f3a66;
  border-radius: 20px;
}

#display {
  width: 85%;
  padding: 1rem;
  margin: 3rem auto 2rem auto;
  border-radius: 50px;
  background: linear-gradient(90deg, rgba(150,182,255,1) 0%, rgba(9,9,121,1) 100%);

}

#reset {
  color: #FF0707;
}


span {
  margin: auto 1rem auto 1rem;
  font-size: 1.5rem;
  
}

#labels {
  margin-bottom: 1rem;
  color: #C4CCFF;
}

button {
  background-color: #00000000;
  border: none;
  color: white;
}

#start_stop {
  margin: 1.5rem 3rem auto auto;
  padding-bottom: 1rem;
}




